.footer{
  padding: 36px 0 92px 0;
  min-height: 350px;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.7);
  @media(max-width: 904px){
    padding: 24px 0 40px 0;
  }
  &__title{
    margin: 0 0 66px 0;
    @media(max-width: 904px){
      margin: 0 0 24px 0;;
    }
  }
  &__wrapper{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    @media(max-width: 1164px){
      width: 70%;
    }
    @media(max-width: 904px){
      width: 100%;
      flex-direction: column-reverse;
      align-items: center;
    }
  }
  &__phone{
    min-height: 139px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 251px;
    margin: 0 50px;
    &_tel{
      a{
        color: #fff;
        &:hover{
          text-decoration: underline;
        }
      }
      margin: 0 0 8px 0;
      &:last-child{
        margin: 0;
      }
    }
    @media(max-width: 1164px){
      margin: 0 117px 32px 0;
    }
    @media(max-width: 904px){
      margin: 0;
    }
    &-modal{
      margin: 0 auto;
      @media(max-width: 1164px){
        margin: 0 auto;
      }
      @media(max-width: 904px){
        margin: 0 auto;
      }
      @media(max-width: 576px){
        min-height: 0;
        margin: 0 0 20px 0;
      }
    }
  }
  &__mail{
    min-height: 101px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 244;
    margin: 0 50px;
    a{
      &:hover{
        text-decoration: underline;
      }
      color: #fff;
    }
    @media(max-width: 1164px){
      margin: 0 0 32px 0;
    }
    @media(max-width: 604px){
      max-width: 288px;
    }
  }
  &__text{
    font-family: "CenturyGothic", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
  }
  &__mail_img{
    width: 64px;
    height: 46px;
    margin: 0 0 32px 0;
  }

  &__phone_img{
    width: 49px;
    height: 50px;
    margin: 0 0 32px 0;
  }

  &__communication{
    max-width: 406px;
    min-height: 243px;
    &_title{
      text-align: center;
      font-family: "CormorantSC", sans-serif;
      font-weight: 700;
      @include adaptiv-value('font-size', 20, 16, 0);
      color: #fff;
      line-height: 24.22px;
      margin: 0 0 40px 0;
      @media(max-width: 904px){
        margin: 0 0 24px 0;
      }
    }
    @media(max-width: 904px){
      margin: 0 0 32px 0;
    }
  }
  }

