.footer{
  padding: 36px 0 92px 0;
  min-height: 500px;
  &__title{
    margin: 0 0 66px 0;
  }
  &__wrapper{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &__phone{
    min-height: 139px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 251px;
    margin: 0 117px 0 0;
    &_tel{
      margin: 0 0 8px 0;
      &:last-child{
        margin: 0;
      }
    }
  }
  &__mail{
    min-height: 101px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 244;
    margin: 0 117px 0 0;
  }
  &__text{
    font-family: "CenturyGothic", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
  }
  &__mail_img{
    width: 64px;
    height: 46px;
    margin: 0 0 32px 0;
  }
  &__phone_img{
    width: 49px;
    height: 50px;
    margin: 0 0 32px 0;
  }
  &__communication{
    width: 406px;
    min-height: 243px;
    &_title{
      text-align: center;
      font-family: "CormorantSC", sans-serif;
      font-weight: 700;
      font-size: 20px;
      color: #fff;
      line-height: 24.22px;
      margin-bottom: 40px;
    }
  }
  &__forms{
    width: 386px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto 40px auto;
    min-height: 94px;
  }
  &__input{
    width: 100%;
    height: 29px;
    border: none;
    border-bottom: 1px solid #D3D3D3;
    background-color: transparent;
    color: #9F9F9F;
    outline: none;
    padding: 0 0 9px 0;
    font-family: 'CenturyGothic', sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
  &__button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px auto;
  }
  &__policy{
    margin: 0 auto;
    width: 285px;
    color: #fff;
    font-family: "CenturyGothic", sans-serif;
    font-weight: 700;
    font-size: 15px;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    input{
      margin: 0 10px 0 0;
    }
}
}
