.form{
  width: 386px;
  display: flex;
  flex-direction: column;
  min-height: 94px;
  margin: 0 auto;
  @media(max-width: 904px){
    max-width: 386px;
    min-height: 66px;
  }
  @media(max-width: 604px){
    width: 100%;
  }
  &_s{
    max-width: 325px;
  }
  &__input-wrapper{
    max-width: 100%;
    min-height: 96px;
    margin: 0 0 40px 0;
      @media(max-width: 604px){
        margin: 0 0 24px 0;
      }
    &_s{
      max-width: 290px;
      margin: 0 auto 40px auto;
      @media(max-width: 604px){
        margin: 0 auto 24px auto;
      }
      @media(max-width: 576px){
        max-width: 264px;
        min-height: 70px;
      }
    }
  }
  &__input{
    width: 100%;
    height: 29px;
    border: none;
    border-bottom: 1px solid #D3D3D3;
    background-color: transparent;
    color: #9F9F9F;
    outline: none;
    padding: 0 0 9px 0;
    font-family: 'CenturyGothic', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0 0 36px 0;
    @media(max-width: 604px){
      margin: 0 0 16px 0;
    }
    &:last-child{
      margin: 0;
    }
    &:focus{
      border-bottom: 1px solid $yellow;
    }

  }
  &__input._error{
    border-bottom: 1px solid red;
  }
  &__button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px auto;
    &_s{
      min-width: 200px;
      height: 41px;
    }
  }
  &__policy{
    margin: 0 auto;
    width: 100%;
    color: #fff;
    font-family: "CenturyGothic", sans-serif;
    font-weight: 700;
    font-size: 15px;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    &_s{
      @media(max-width: 576px){
        margin: 0 12px;
      }
    }
  }
  &__communication{
    text-align: center;
    font-family: "CormorantSC", sans-serif;
    font-weight: 700;
    @include adaptiv-value('font-size', 20, 16, 0);
    color: #fff;
    line-height: 24.22px;
    margin: 0 0 40px 0;
    @media(max-width: 904px){
      margin: 0 0 24px 0;
    }
    &_s{
      @include adaptiv-value('font-size', 16, 16, 0);
      margin: 0 0 32px 0;

    }
  }

}
.checkbox._error .checkbox__label::before {
  box-shadow: 0 0 15px red;
}
.checkbox__input {
  display: none;
}
.checkbox__input:checked + .checkbox__label::after {
  transform: scale(1);
}

.checkbox__label {
  font-size: 14px;
  line-height: 140%;
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.checkbox__label::before {
  content: "";
  align-self: flex-start;
  flex: 0 0 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 4px;
  margin: 0px 10px 0px 0px;
}
.checkbox__label::after {
  transition: transform 0.5s ease 0s;
  content: "";
  width: 7px;
  height: 7px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: $yellow;
  border-radius: 2px;
  transform: scale(0);
}

.checkbox__label a {
  color: $yellow;
}
.message{
  &-err{
    color: red;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 15px 0;
  }
}

.status{
  position: relative;
  min-height: 54px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  &_s{
    font-size: 17px;
  }
  &__wrapper{
    position: relative;
    width: 54px;
    height: 54px;
    z-index: 3;
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
      visibility: visible;
      object-fit: cover;
    }
  }
  &__text{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
  }
}