.galary{
  padding: 0 0 61px 0;
  &__content{
    padding: 40px 0 0 0;
    max-width: 100%;
    overflow: hidden;
  }
  &__title{
    @include adaptiv_value('font-size', 28, 18, 0);
    text-align: left;
    margin: 0 0 40px 0;
  }
  &__slide{
    min-height: 444px;
    &-art{
      padding: 40px 0 0 0;
    }
    &-wrapper{
      display: grid;
      grid-template: repeat(2, 198px) / repeat(4, 261px);
      grid-auto-rows: 198px;
      grid-auto-columns: 261px;
      gap: 48px 32px;
      padding: 0 0 56px 0;
      @media(max-width: 1200px){
        grid-template: repeat(2, 198px) / repeat(3, 261px);
        justify-content: center;
      }
      @media(max-width: 900px){
        grid-template: repeat(2, 198px) / repeat(2, 261px);
      }
      @media(max-width: 600px){
        grid-template: repeat(2, 216px) / repeat(1, 288px);
        gap: 24px 32px;
        grid-auto-rows: 216px;
        grid-auto-columns: 288px;
      }
      &-art{
        grid-template: repeat(2, 285px) / repeat(4, 261px);
        grid-auto-rows: 285px;
        grid-auto-columns: 261px;
        @media(max-width: 1200px){
          grid-template: repeat(2, 285px) / repeat(3, 261px);
          justify-content: center;
        }
        @media(max-width: 900px){
          grid-template: repeat(2, 285px) / repeat(2, 261px);
        }
        @media(max-width: 600px){
          grid-template: repeat(2, 314px) / repeat(1, 288px);
          gap: 24px 32px;
          grid-auto-rows: 314px;
          grid-auto-columns: 288px;
        }
      }
    }
  }
  &__item{
    position: relative;
    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      border: 1px solid #FDC324;
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      transition: all 0.5s ease;
      ._mobile &{
        display: none;
      }
    }
    &:hover{

      &:after{
        opacity: 1;
        visibility: visible;
      }
      .galary__short-info{
        opacity: 1;
        visibility: visible;
      }
    }

  }
  &__counter{
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 5px;
    min-width: 42px;
    height: 42px;
    background: rgba(253, 195, 36, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "CenturyGothic", sans-serif;
    font-weight: 700;
    font-size: 16px;
    z-index: 3;
  }
  &__short-info{
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: "CenturyGothic", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    padding: 0 0 8px 8px;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }
  &__info{
    &:first-child{
      margin: 0 0 8px 0;
    }
  }
  &__img{
    img{
      vertical-align: top;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 100%;
      object-fit: contain;
      background: #abdefd;
    }
    &-art{
      padding: 54.6% 0;
    }
  }
  &__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
.hide{
  visibility: hidden;
  display: none;
}