body {
  background-color: #0F3924;
  min-width: 100vw;
  overflow-x: hidden;
}
.wrapper{
	min-height: 100%;
	overflow: hidden;
}
body.lock{
  overflow: hidden;
}
.title{
  font-family: "CormorantSC", sans-serif;
  font-weight: 700;
  @include adaptiv-value('font-size', 38, 20, 0);
  color: #fff;
  line-height: 46.02px;
  text-align: center;
}