.section {
	overflow: hidden;
  display: flex;
  @media(min-width: 767px){

  }
}


.section__content {
	flex: 0 0 100%;
	display: flex;
}
.section__container {
	max-width: 1170px;
	padding: 0px 15px;
	margin: 0px auto;
	background-color: #6b6a6a;
	display: flex;
	align-items: center;
}
.section__body {
	padding: 50px 0px;
}

@media (min-width: 767px) {
	.section__body {
		padding: 50px 20px 50px 0px;
		width: 40%;/*! контент*/
	}
}

.section__title {
	font-size: 40px;
	margin: 0px 0px 20px 0px;
}
.section__text {
	line-height: 130%;
	font-size: 16px;
}
.section__image {
}
.section__image img {
	/* ! щоб дана картинка могла зменшуватись (адаптивність) */
	max-width: 100%;
}

@media (min-width: 767px) {
	/*! для підлаштування картинки під розмір контентної частини*/
	.section__image {
		position: relative;
		flex: 0 0 calc(((100vw - 40px) * 0.6) + 20px);/*! вираховуємо ширину картинки, без накладань при різних ширинах картинки і контенту, від ширини екрану віднімаємо паддінги(40px) контейнера і відрезультату взяти відсоток розміру картинки в відсотках(60%) і прибавити половину відступів контейнера(20px)*/
		padding: 0 0 50% 0;/*! задаємо висоту картинки по макету задаючи процентний паддінг*/
		transform: translate(-100%, 0px);/*? повертаємо виштовхнуту картинку контейнером*/
	}
	.section__image img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
@media (min-width: 1360px) {/*! вираховуємо розміри картинки для екранів більше ширини макета */
	.section__image {
		/* flex: 0 0 calc(100vw - (((100vw - 1360px) / 2) + ((1360px - 40px) * 0.4) + 20px)); *//*! друга частина 40% це контент*/
		flex: 0 0 calc(50vw - (0.4 - 0.5) * 1320px);/*! 0.4% це контент*/
	}
}
