.short-nav{
  min-height: 553px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0 0 64px 0;
  @media(max-width: 612px){
    margin: 0 0 32px 0;
  }
  &__title{
    text-align: center;
    margin: 0 0 48px 0;
    @media(max-width: 612px){
      margin: 0 0 24px 0;
    }
  }
  &__btn{
    margin: 0 auto 32px auto;
  }
  &__wrapper{
    width: calc(100% + 32px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 56px auto;
    @media(max-width: 1170px){
      width: 95%;
      margin: 0 auto 56px auto;
    }
    @media(max-width: 612px){
      width: 80%;
      margin: 0 auto 24px auto;
    }
  }
  // &__row{
  //   max-width: 554px;
  //   display: flex;
  //   flex-wrap: wrap;
  //   &:first-child{
  //     margin: 0 32px 0 0;
  //   }
  //   @media(max-width: 1170px){
  //     &:first-child{
  //       margin: 0 0 32px 0;
  //     }
  //   }
  //   @media(max-width: 612px){
  //       justify-content: center;
  //   }
  // }
  &__column{
    position: relative;
    width: 293px;
    min-height: 291px;
    cursor: pointer;
    padding: 16px;
    &:after{
      content: '';
      position: absolute;
      opacity: 0;
      bottom: 16px;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      width: 261px;
      height: 291px;
      transition: all 0.5s ease;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 35.94%, rgba(0, 0, 0, 0.65) 66.67%, rgba(0, 0, 0, 0.75) 100%);
      border: 1px solid rgba(253, 195, 36, 0.6);
      z-index: 1;
    }
    &:hover{
      &:after{
        opacity: 1;
      }
      span{
        min-height: 100px;
      }
    }
    span{
      position: absolute;
      bottom: 16px;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      width: 261px;
      min-height: 75px;
      font-family: "CenturyGothic", sans-serif;
      font-weight: 700;
      font-size: 16px;
      text-align: center;
      padding: 39px 15px 16px 15px;
      color: #fff;
      z-index: 2;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 35.94%, rgba(0, 0, 0, 0.65) 66.67%, rgba(0, 0, 0, 0.75) 100%);
      transition: all 0.5s ease;
    }
    // @media(max-width: 612px){
    //   &:first-child{
    //     margin: 0 0 24px 0;
    //   }
    // }
  }
}
.mbn{
  margin: 0;
  border-bottom: none;
  @media(max-width: 612px){
    margin: 0;
  }
}